resources:

- repo: self

queue:

  name: Hosted VS2017

#Your build pipeline references an undefined variable named ‘Parameters.RestoreBuildProjects’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972

#Your build pipeline references an undefined variable named ‘Parameters.RestoreBuildProjects’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972

#Your build pipeline references the ‘BuildConfiguration’ variable, which you’ve selected to be settable at queue time. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab, and then select the option to make it settable at queue time. See https://go.microsoft.com/fwlink/?linkid=865971

#Your build pipeline references an undefined variable named ‘Parameters.TestProjects’. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab. See https://go.microsoft.com/fwlink/?linkid=865972

#Your build pipeline references the ‘BuildConfiguration’ variable, which you’ve selected to be settable at queue time. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab, and then select the option to make it settable at queue time. See https://go.microsoft.com/fwlink/?linkid=865971

#Your build pipeline references the ‘BuildConfiguration’ variable, which you’ve selected to be settable at queue time. Create or edit the build pipeline for this YAML file, define the variable on the Variables tab, and then select the option to make it settable at queue time. See https://go.microsoft.com/fwlink/?linkid=865971

steps:

- task: DotNetCoreCLI@2

  displayName: Restore

  inputs:

    command: restore



    projects: '$(Parameters.RestoreBuildProjects)'





- task: DotNetCoreCLI@2

  displayName: Build

  inputs:

    projects: '$(Parameters.RestoreBuildProjects)'



    arguments: '--configuration $(BuildConfiguration)'





- task: DotNetCoreCLI@2

  displayName: 'dotnet pack'

  inputs:

    command: pack



    versioningScheme: byPrereleaseNumber





- task: DotNetCoreCLI@2

  displayName: Test

  inputs:

    command: test



    projects: '$(Parameters.TestProjects)'



    arguments: '--configuration $(BuildConfiguration)'





- task: DotNetCoreCLI@2

  displayName: Publish

  inputs:

    command: publish



    publishWebProjects: True



    arguments: '--configuration $(BuildConfiguration) --output $(build.artifactstagingdirectory)'



    zipAfterPublish: True





- task: CopyFiles@2

  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'

  inputs:

    SourceFolder: src/CloudNimble.BlazorEssentials/bin



    Contents: '*.nupkg'



    TargetFolder: '$(build.artifactstagingdirectory)'





- task: PublishBuildArtifacts@1

  displayName: 'Publish Artifact'

  inputs:

    PathtoPublish: '$(build.artifactstagingdirectory)'







